body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);

}

#myDrumset {
    display: flex;
}

.note {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 100px;
    width: 100px;
    border: 2px solid rgba(255, 221, 2, 0.575);
    color: rgba(255, 255, 255, 0.629);
    background: rgba(0, 0, 0, 0.381);
}