body {
    background-color: rgb(14, 75, 173);
}

.myDiv {
    text-align: center;
    color: white;
}

h1 {
    font-size: 65px;
}

p {
    font-size: 25px;
}

button {
    border-radius: 100%;
    padding: 10px;
    font-size: 25px;
    background-color: blue;
    border: none;
}